<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section layout:fragment="custom-content">
    <h2>Create new animal</h2>


    <form method="post" th:action="@{/animal/add}" th:object="${animal}">
        <input id="specie" placeholder="gatunek" th:field="*{specie}" type="text">
        <input id="name" placeholder="nazwa" th:field="*{name}" type="text">
        <input id="alive" placeholder="czy żyje?" th:field="*{alive}" type="text">
        <button type="submit">Zapisz</button>
    </form>

</section>

</body>
</html>